<%- include('partials/nav')%>
    <main id="main">
        <section id="container-section1">
            <div id="container-tittle">
                <h1 id="title-section1">¡Uñas hermosas a toda hora!</h1>
                <span id="subtittle-section1">Profesionales en Manicure y Pedicure</span>
                <div id="containerButtons">
                    <a id="boton1-section1" href="#">Inicio Sesion</a>
                    <a id="boton2-section1" href="/register/">Registrate</a>
                </div>

            </div>
        </section>
        <section id="container-section2">
            <ul id="container-servicio">
                <li id="servicio">
                    <h5 class="tituloServicio">ESMALTADO</h5>
                    <img src="../img/esmaltado.jpg" alt="">
                </li>
                <li id="servicio">
                    <h5 class="tituloServicio">CAPPING</h5>
                    <img src="../img/capping.png" alt="">
                </li>
                <li id="servicio">
                    <h5 class="tituloServicio">ESCULPIDA</h5>
                    <img src="../img/esculpidas.png" alt="">
                </li>
                <li id="servicio">
                    <h5 class="tituloServicio">PEDICURE</h5>
                    <img src="../img/pedicure.jfif" alt="">
                </li>
            </ul>
        </section>
        <section id="container-section3">
            <div id="container-tituloNosotros">
                <h2 class="tituloNosotros">SOMOS</h2>
                <img src="./img/Logotipo_blanco.png" alt="Logo OBNails color blanco" id="logoNosotros"></img>
            </div>

            <p id="textoNosotros">En la actualidad el cuidado de las uñas se ha convertido
                en una necesidad más allá de un metódo cosmético, cada vez más personas toman
                con seriedad la elección del lugar donde van a realizarse dicho tratamiento. En "OB NAILS manicure and
                pedicure"
                contamos con más de 5 años de experiencia, personal capacitado profecionalmente en manicure y pedicure,
                ofreciendo un
                servicio calificado y con total seriedad.
            </p>
        </section>
    </main>
<%- include('partials/footer')%>