<%- include('partials/head')%>

    <body id="body">
        <form action="" method="post" id="containerSingIn">
            <h2 id="titleSesion">Iniciar Sesión</h2>
            <input type="email" name="email" id="" placeholder="Email">
            <input type="password" name="password" id="" placeholder="Contraseña">
            <button type="submit" class="btn btn-success" id="buttonSesion">Ingresar</button>
            <a href="/register/" id="linkForm">Crear cuenta</a>
            
        </form>
    </body>

</html>