<%- include('head')%>
<body>
    <!--Nav-->
    <nav class="navbar navbar-expand-lg" id="nav">
        <div class="container-fluid">
            <a class="nav-link" aria-current="page" href="/">
                <img src="./img/Logotipo.png" alt="Logo OB Nails" id="logo" class="text-white">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="me-auto mb-2 mb-lg-0 container-fluid" id="nav-derecho">
                    <ul class="navbar-nav" id="nav-ul">
                        <li class="nav-item" id="nav-li">
                            <a class="nav-link active text-black" aria-current="page" href="/" id="nav-a">Inicio</a>
                        </li>
                        <li class="nav-item" id="nav-li">
                            <a class="nav-link text-black " href="#" id="nav-a">Servicios</a>
                        </li>
                        <li class="nav-item" id="nav-li">
                            <a class="nav-link text-black " href="#" id="nav-a">Nosotros</a>
                        </li>
                        <li class="nav-item" id="nav-li">
                            <a class="nav-link text-black" href="#" id="nav-a">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>